<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/innerheader %>
</header>

<main>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Dashbord > Nodes </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">

                        <div class="container">

  <p>The connected ITD nodes in the network</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Port</th>      
        <th>Status</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
     <% nodes.forEach(function(el,index){ %>
      <tr>
        <td><%=el.name %></td>
        <td><%=el.ip %></td>
        <td><%=el.port %></td>        
        <td><%=el.status %></td>
        <td><a href="nodes/<%=el.id %>" > View</a></td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>


         
                       

                       
                    </div>
                   
                </div>
                </form>
            </div>
        </div>
        
    </div>
</div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>



